html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  padding: 10px 0;
  background-color: #eee;
}

.nav-logo-img {
  height: 40px;
}

.nav-links-list {
  display: flex;
  list-style: none;
  gap: 16px;
}

.nav-links-link {
  text-decoration: none;
  color: #000;
}

.nav-links-link:hover {
  color: #869aa4;
  text-decoration: underline;
}

.books {
  padding: 20px;
  gap: 20px;
  word-break: break-word;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.book-div {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 2px 5px 10px #ddd;
}

.book-div:hover {
  box-shadow: 2px 5px 50px #bbb;
}

.main-heading {
  margin: 20px 0 0 20px;
}

.main-books-counter {
  font-weight: 400;
  font-size: 1rem;
}

.book-title {
  margin: auto 0 0 0;
}

.book-author {
  margin: 0;
}

.like-and-comment {
  display: flex;
  gap: 10px;
  margin: 5px 0;
  align-items: center;
  font-size: 16px;
}

.comment-btn {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #eee;
  font-size: 16px;
  cursor: pointer;
}

.comment-btn:hover {
  background-color: #ddd;
}

.like-container {
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
  cursor: pointer;
}

.like-btn.filled {
  color: #fa3e3e;
}

.like-btn:hover {
  font-size: 20px;
}

.hidden {
  display: none;
}

.footer {
  text-align: center;
  width: 100%;
  color: #555;
  font-size: 0.7rem;
}

.pop {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 500px black;
  position: fixed;
  top: 50%;
  bottom: 50%;
  left: 5%;
  right: 5%;
  margin:auto;
  z-index: 1;
  background: white;
  height: 90vh;
}

.container {
  text-align: center;
  padding: 2% 0;
}

.book-details {
  display: flex;
  align-items: center;
  gap: 5%;
  padding: 0 3%;
  max-height: 25vh;
  justify-content: space-around;
}

.description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
}

.description * {
  min-width: 50%;
}

.show-comments {
  display: flex;
  margin-top: 5rem;
  align-items: center;
}

.comments {
  max-width: 35%;
  margin: 0 auto;
  padding: 5% 0;
}

.com-item {
  list-style: none;
  text-align: left;
  margin-inline-start: -15%;
}

.myform {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  margin: 0 auto;
  padding-inline-end: 8%;
}

.myform * {
  margin: 5% 0;
  border-radius: 5px;
}

input {
  line-height: 30px;
}

#submit {
  padding: 5%;
}

.inactive {
  display: none;
}

textarea {
  resize: none;
}

.noflow {
  overflow-y: hidden;
}

.closeBtn > i {
  float: right;
  position: relative;
  top: 1vh;
  right: 3%;
  cursor: pointer;
  font-size: 30px;
}

.book-details > img {
  margin-top: 15%;
}
